body{
    background-color: black;
    color: #fff;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
.content{
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #2b2a2a;
    padding: 55px;
    border-radius: 12px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.top input{
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 1.2rem;
    background-color: #191818;
    color: #fff;
}
.top button{
    width: 45px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
}

button{
    background-color: blueviolet;
}
button:hover{
    background-color: rgb(85, 27, 139);
}